<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lehrer list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>name</th>
            <th>fach</th>
            <th>birth</th>
            <th>Email-Adresse</th>
            <th>Aktion</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l : ${lehrer}">
            <td th:text="${l.name}"></td>
            <td th:text="${l.fach}"></td>
            <td th:text="${l.birthDate}"></td>
            <td th:text="${l.email}"></td>
            <td>
                <a th:href="@{/lehrer/edit/{id}(id=${l.id})}">Bearbeiten</a>
                <form th:action="@{/lehrer/delete/{id}(id=${l.id})}" method="post" >
                    <button type="submit" >löschen</button>
                </form>
            </td>

        </tr>
        </tbody>

    </table>

    <p>
        <a href="/lehrer/add">new lehrer</a>
    </p>
</div>
</body>
</html>