<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lehrerverwaltung</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Lehrerverwaltung</h1>
    <h2>Willkommen im Lehrerverwaltungssystem. </h2>
    <h4>Diese Plattform dient zur einfachen Verwaltung von
        Lehrpersonen, Klassen und Unterrichtsfächern.
        Administratoren und Schulpersonal können hier alle
        relevanten Informationen übersichtlich erfassen und verwalten.</h4>
    <p>Hier können neue Lehrpersonen gespeichter, bearbeitet oder gelöscht werden und in einer
        Tabelle angezeigt werden.
        Zu jedem Lehrer werden Daten wie Name, Fachgebiet, Geburtsdatum und die Email-Adresse gespeichert!</p>
    <div>
        <a href="/lehrer/list">lehrer list</a>
    </div>
</div>
</body>
</html>